<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5">
      <div class="col-6">
          <div>
              <p><strong>User Name</strong>: <%= user.userName %></p>
              <p><strong>Email</strong>: <%= user.email %></p>
              <a href="/logout" class="col-3 btn btn-primary">Logout</a>
              <h6>Continue Shopping?</h6>
              <a href="/" class="col-3 btn btn-primary">Home</a>
          </div>
      </div>
    </div>
  </div>
</div>
<%- include('partials/footer') -%>