<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Tops</title>

    <!-- external CSS link -->
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />


</head>
<body class="tops">
	<!--Navigation--> 
	<section class="navbar">
		<div class="container flex">
			<h1 class="logo">Character Select</h1>
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="support">Support</a></li>
					<li><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></li>
					<li><a href="signup"><i class="fa-regular fa-user"></i></a></li>
				</ul>
			</nav>
		</div>
	</section>

    <!--Tops-->

    <section class=" container grid">
        <div class="flex">
			<section class="products">
				<img src="img/product1.jpeg" alt="">
			</section>
		</div>

		<div class="flex">
			<section class="products">
				<img src="img/product1.jpeg" alt="">
			</section>
		</div>

		<div class="flex">
			<section class="products">
				<img src="img/product1.jpeg" alt="">
			</section>
		</div>

		<div class= "flex">
			<section class="products">
				<img src="img/product1.jpeg" alt="">
			</section>
		</div>

		<div class="flex">
			<section class="products">
				<img src="img/product1.jpeg" alt="">
			</section>
		</div>

		<div class="flex">
			<section class="products">
				<img src="img/product1.jpeg" alt="">
			</section>
		</div>
     
    </section>

</body>
</html>