<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Tops</title>

    <!-- external CSS link -->
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />


</head>
<body class="tops">
	<!--Navigation--> 
	<section class="navbar">
		<div class="container flex">
			<h1 class="logo">Character Select</h1>
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="support">Support</a></li>
					<li><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></li>
					<li><a href="signup"><i class="fa-regular fa-user"></i></a></li>
				</ul>
			</nav>
		</div>
	</section>

	<nav class="mini-cart">
		<ul>
			<li><span>Item 1</span></li>
			<li><span>Item 2</span></li>
			<li><span>Item 3</span></li>
			<li><span>Item 4</span></li>
			<li><span>Item 5</span></li>
			<li><span>Item 6</span></li>
		</ul>
		<div class = "flex"><a href="checkout"><button class="btn btn-pushable btn-pushable--black">Proceed To Checkout</button></a></div>
	</nav>

    <!--Tops-->

    <section class=" container grid">
        <div class="flex">
			<section class="products flex">
				<span>>_Tops/Kirby T-Shirt</span>
				<img src="img/FRONT1-Black.jpg" alt="">
				<form onsubmit="addToCart('1234')">
					<button class="btn btn-bottom-stripe btn-bottom-stripe--black"> Add To Cart </button>
					<select name="size" id="size" required>
						<option value="">None</option>
						<option value="small">Small</option>
						<option value="medium">Medium</option>
						<option value="large">Large</option>
					</select>
				</form>
			</section>
		</div>

		<div class="flex">
			<section class="products flex">
				<span>>_Tops/Mario T-Shirt</span>
				<img src="img/FRONT2-Black.jpg" alt="">
				<form action="/cart/addProduct/?_method=PUT">
					<button class="btn btn-bottom-stripe btn-bottom-stripe--black"> Add To Cart </button>
					<select name="size" id="size" required>
						<option value="">None</option>
						<option value="small">Small</option>
						<option value="medium">Medium</option>
						<option value="large">Large</option>
					</select>
				</form>
			</section>
		</div>

		<div class="flex">
			<section class="products flex">
				<span>>_Tops/Zelda Cartridge T-Shirt</span>
				<img src="img/FRONT3-Black.jpg" alt="">
				<form action="/cart/addProduct/?_method=PUT">
					<button class="btn btn-bottom-stripe btn-bottom-stripe--black"> Add To Cart </button>
					<select name="size" id="size" required>
						<option value="">None</option>
						<option value="small">Small</option>
						<option value="medium">Medium</option>
						<option value="large">Large</option>
					</select>
				</form>
			</section>
		</div>

		<div class= "flex">
			<section class="products flex">
				<span>>_Tops/Mirror Shield T-Shirt</span>
				<img src="img/FRONT4-Black.jpg" alt="">
				<form action="/cart/addProduct/?_method=PUT">
					<button class="btn btn-bottom-stripe btn-bottom-stripe--black"> Add To Cart </button>
					<select name="size" id="size" required>
						<option value="">None</option>
						<option value="small">Small</option>
						<option value="medium">Medium</option>
						<option value="large">Large</option>
					</select>
				</form>
			</section>
		</div>

		<div class="flex">
			<section class="products flex">
				<span>>_Tops/Fire Red T-Shirt</span>
				<img src="img/FRONT5-Black.jpg" alt="">
				<form action="/cart/addProduct/?_method=PUT">
					<button class="btn btn-bottom-stripe btn-bottom-stripe--black"> Add To Cart </button>
					<select name="size" id="size" required>
						<option value="">None</option>
						<option value="small">Small</option>
						<option value="medium">Medium</option>
						<option value="large">Large</option>
					</select>
				</form>
			</section>
		</div>

		<div class="flex">
			<section class="products flex">
				<span>>_Tops/Link T-Shirt</span>
				<img src="img/FRONT6-Black.jpg" alt="">
				<form action="/cart/addProduct/?_method=PUT">
					<button class="btn btn-bottom-stripe btn-bottom-stripe--black"> Add To Cart </button>
					<select name="size" id="size" required>
						<option value="">None</option>
						<option value="small">Small</option>
						<option value="medium">Medium</option>
						<option value="large">Large</option>
					</select>
				</form>
			</section>
		</div>
     
    </section>
	<script type="text/javascript" src="/js/main.js"></script>
</body>
</html>